<% provide(:title, "Profile: #{@user.name}") %>
<div class="container">
  <div class="row">
    <div class="col-sm-2 col-md-2 col-sm-offset-3 col-md-offset-3">
      <div class="row">
        <%= render 'shared/avatar', user: @user, size: :large, html_class: 'img-circle img-responsive user-profile-avatar' %>
      </div>
      <% if @show_edit_links %>
        <div class="row center-block text-center">
          <%= link_to "Edit Avitar", edit_user_avatar_path %>
        </div>
      <% end %>
    </div>
    <div class="col-sm-4 col-md-4">
      <strong>Name:</strong> <%= show_answer(@user.name) %><br/>
      <strong>Gender:</strong> <%= show_answer(@user.gender) %><br/>
      <strong>Age:</strong> <%= show_answer(@user.display_age) %><br/>
      <strong>Location:</strong> <%= show_answer(@user.display_location) %><br/>
      <% if @show_edit_links %>
        <%= link_to "Edit User", edit_user_path(@user) %>
      <% end %>
    </div>
  </div>

  <hr>

  <% if @show_edit_links %>
    <div class="row">
      <div class="col-md-6 col-md-offset-1">
        <%= link_to "Edit profile", edit_profile_path(@user) %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      <strong>Introduction:</strong><br/>
      <p>
        <%= show_answer(@user.profile.short_description) %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      <strong>About:</strong><br/>
      <p>
        <%= show_answer(@user.profile.long_description) %>
      </p>
    </div>
  </div>

  
</div> <!--- Container -->